h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.loadingImage {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
}

.loadingImage img {
  width: 150px;
  height: 150px;
  margin: auto;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase>p>.btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
